body {
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    color: #ADD8E6;
    font-size: 20px;
}

h1 {
    align-self: center;
}

h2 {
    align-self: center;
}

h3 {
    align-self: center;
}

.Quote-Image {
    
    width: fit-content;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.HeaderImage {
    align-self: center;
}

.QuoteContainer {
    
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-style: italic;

}

.QuoteName {
    align-self: flex-end;
    margin: 0%;
    font-weight: bold;
    
}

.FirstSection {
    
    display: flex;
    margin-bottom: 10px;

    
}

.FirstSectionImageContainer {
    
    height: 300px;
    width: 300px;
    
    
}

.FirstSectionImage {
   height: inherit;
   width: inherit;
}

a {
    color: yellow;
    text-decoration: none;

}